.StartScreenWrapper{
    display: grid;
    width: 100vw;
    height: 100vh;
}

.StartScreenContainer {
    display: grid;
    justify-items: center;
    grid-template-rows: 31vmin 38vmin 7vmin;
    align-items: center;
}

.StartScreenTitle{
    font-size: 3.8vw;
    margin: 0;
    padding: 0;
}

.CatSize{
    width: 8.6vw;
}

.StartGameBtn{
    outline: 0;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: 0.2vmin solid #7ED957;
    background-color: #7ED957;
    padding-left: 3.3vw;
    padding-right: 3.3vw;
    font-size: 2.7vw;
    height: 9vmin;
    border-radius: 1.7vmin;
    transition: all .3s;
    width: fit-content;
    color: #000;
}

.StartGameBtn:hover{
    border: 0.2vmin solid black;
}

@media (max-width: 600px) {
    .StartScreenWrapper{
        display: grid;
        width: 100vw;
        height: 100vh;
    }
    
    .StartScreenContainer {
        display: grid;
        justify-items: center;
        grid-template-rows: 62vmin 40vmin 50vmin;
        align-items: center;
    }

    .StartScreenTitle {
        font-size: 12vw;
        margin: 0;
        padding: 0;
    }

    .CatSize {
        width: 28.6vw !important;
    }

    .StartGameBtn {
        outline: 0;
        border: 0;
        padding: 0;
        margin: 0;
        cursor: pointer;
        border: 0.8vmin solid #7ED957;
        background-color: #7ED957;
        padding-left: 9.3vw;
        padding-right: 9.3vw;
        font-size: 9.7vw;
        height: 18vmin;
        border-radius: 4.7vmin;
        transition: all .3s;
        width: fit-content;
        color: #000;
    }

    .StartGameBtn:hover{
        border: 0.8vmin solid black;
    }


}