 @import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');


*{
  font-family: 'Chewy', cursive;
}

body{
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@media (max-width:600px) {
  body{
    overflow: hidden; /* Reset overflow for mobile devices */

  }
}